/* $Id$ */ 

#agenda-block p {
    margin: 0;
    padding: 0;
    }

#agenda-block ol {
    list-style-type: none;
    margin: 0 0 1em 0;
    }

#agenda-block ol li {
    margin: .2em 0;
    padding: 1px 5px;
    color: white;
    font-size: 90%;
    }

#agenda-block .moreinfo {
    display: none;
    list-style-type: none;
    margin: .2em 0 .2em 0;
    }

#agenda-block .moreinfo, #agenda-block .moreinfo p {
    line-height: 1.4em;
    }
    
#agenda-block .moreinfo em {
    font-style: normal;
    text-decoration: underline;
    }
    
#agenda-block .moreinfo a {
    color: white;
    }

#agenda-block .moreinfo li {
    list-style-type: none;
    margin: .6em 0 0 0;
    padding: 0;
    list-style-image: none;
    font-size: 100%;
    background-image: none;
    }

#agenda-block .cal_0 { background-color: #E6804D; }
#agenda-block .cal_1 { background-color: #E0C240; }
#agenda-block .cal_2 { background-color: #668CD9; }
#agenda-block .cal_3 { background-color: #D96666; }
